In [1]:
import warnings
warnings.filterwarnings("ignore")

import os
from os.path import join

import pandas as pd
import numpy as np

import missingno as msno

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import KFold, cross_val_score

from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold


from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor



import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('/home/aiffel/aiffel/kaggle_kakr_housing/data/train.csv')
df_test =  pd.read_csv('/home/aiffel/aiffel/kaggle_kakr_housing/data//test.csv')

In [3]:
df_test.head()
df_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2,2,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
3,3,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
4,4,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711

In [4]:
print('df_train  dim : {}'.format(df_train.shape))
print('df_test dim : {}'.format(df_test.shape))

df_train  dim : (15035, 21)
df_test dim : (6468, 20)

In [5]:
df_train['price'] = np.log1p(df_train['price'])

In [6]:
target_label = df_train['price']

del df_train['price']

In [7]:
train_len = len(df_train)
df_train = pd.concat((df_train, df_test), axis=0)

In [8]:
df_train.dtypes
# dtype은 arry

id                 int64
date              object
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [9]:
df_test_id = df_train['id'][train_len:]
del df_train['id']
df_train['date'] = df_train['date'].apply(lambda x : str(x[:6])).astype(str)

In [10]:
type(df_test_id)

pandas.core.series.Series

log-scaling으로 정규화

In [11]:
skew_columns = ['bedrooms', 'sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement']

for c in skew_columns:
    df_train[c] = np.log1p(df_train[c].values)

In [12]:
df_test = df_train.iloc[train_len:, :]
df_train = df_train.iloc[:train_len, :]

In [13]:
print(df_train.shape)
print(df_test.shape)

(15035, 19)
(6468, 19)

In [14]:
X_train = df_train.values
# target_label은 들어 가있으니까 그대로 유지
X_test = df_test.values
# array형태로 넣어주려고 values 사용

# hyper parameter

In [15]:
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error


# random_state=2020         

# from lightgbm import LGBMRegressor

In [16]:
# def my_GridSearch(model, train, y, param_grid, verbose=2, n_jobs=5):
#     # GridSearchCV 모델로 초기화
#     grid_model = GridSearchCV(model, param_grid=param_grid, scoring='neg_mean_squared_error', \
#                               cv=5, verbose=verbose, n_jobs=n_jobs)

#     # 모델 fitting
#     grid_model.fit(train, y)

#     # 결과값 저장
#     params = grid_model.cv_results_['params']
#     score = grid_model.cv_results_['mean_test_score']

#     # 데이터 프레임 생성
#     results = pd.DataFrame(params)
#     results['score'] = score

#     # RMSLE 값 계산 후 정렬
#     results['RMSLE'] = np.sqrt(-1 * results['score'])
#     results = results.sort_values('RMSLE')
#     print(f'using {model.__class__.__name__}')

#     return results

In [17]:
# param_grid = {
#     'n_estimators': [100, 400],
#     'max_depth': [1, 10],
#     'learning_rate' :[0.10,0.8]
# }

# model = LGBMRegressor(random_state=random_state)
# my_GridSearch(model, df_train, target_label, param_grid, verbose=2, n_jobs=5)

In [18]:
# param_grid = {
#     'n_estimators': [100, 600],
#     'max_depth': [1, 10]
# }

# rdforest = RandomForestRegressor(random_state=random_state)
# my_GridSearch(model, df_train, target_label, param_grid, verbose=2, n_jobs=5)

In [19]:
# param_grid = {
#     'n_estimators': [100, 600],
#     'max_depth': [1, 10],
#     'learning_rate' :[0.10,0.15]
# }

# model = XGBRegressor(random_state=random_state)
# my_GridSearch(model, df_train, target_label, param_grid, verbose=2, n_jobs=5)

# light GBM

# XGB

In [20]:
lgbm=LGBMRegressor(n_estimators=400,learning_rate=0.1)
xgb=XGBRegressor(n_estimators=600,learning_rate=0.1)
rfr = RandomForestRegressor(n_estimators=100,max_depth=10)

In [21]:
for df in [df_train,df_test]:
    df['date'] = df['date'].apply(lambda x: x[0:8]).astype(int)

In [22]:
lgbm.fit(df_train,target_label)

LGBMRegressor(n_estimators=400)

In [23]:
xgb.fit(df_train,target_label)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=600, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [24]:
rfr.fit(df_train,target_label)

RandomForestRegressor(max_depth=10)

In [25]:
lgbm_pred = np.expm1(lgbm.predict(df_test))
xgb_pred=np.expm1(xgb.predict(df_test))
rfr_pred=np.expm1(rfr.predict(df_test))

In [26]:
preds=0.3*xgb_pred + 0.6*lgbm_pred+0.1*rfr_pred

In [27]:
sub = pd.DataFrame(data={'id':df_test_id,'price':preds})

In [28]:
sub.head(10)

      id         price
0  15035  5.154634e+05
1  15036  4.700677e+05
2  15037  1.371629e+06
3  15038  3.041136e+05
4  15039  3.245115e+05
5  15040  3.088129e+05
6  15041  4.253245e+05
7  15042  6.883838e+05
8  15043  2.867090e+05
9  15044  3.674104e+05

In [29]:
sub.to_csv('submission.csv',index=False)